{% extends "Shop/base.html"%} {% load static %} {% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'Shop/about.css' %}" />
<title>ABOUT US</title>
{% endblock %} {%block content%}
<div class="row">
  <div class="box">
    <h1>Wararnty</h1>
    We wouldn't be striving for perfection if we didn't have a backup plan. In
    the rare event of a defect in your Ultrasaber, you're covered under our
    iron-clad warranty. A saber that includes light and sound is a complex
    electronic device that we are proud of, and as saber forging experts, we at
    Ultra Sabers are very confident in our skill and we will back our sabers
    against any defects!
  </div>
</div>
<div class="row">
  <div class="box">
    <h1>Quality</h1>
    When creating an Ultrasaber, our quality is held at the highest standard.
    Our sabers are made from high quality, custom CNC machined billet aluminum
    components, giving them unparalleled strength in their construction. We test
    and retest our designs before going to production, ensuring that each piece
    available is crafted to perfection, making your saber the pinnacle of any
    collection. We take pride in our work, and we ship fast because you take
    pride in your creation.
  </div>
</div>
<div class="row">
    <div class="box">
      <h1>Contact</h1>
      When creating an Ultrasaber, our quality is held at the highest standard.
      Our sabers are made from high quality, custom CNC machined billet aluminum
      components, giving them unparalleled strength in their construction. We test
      and retest our designs before going to production, ensuring that each piece
      available is crafted to perfection, making your saber the pinnacle of any
      collection. We take pride in our work, and we ship fast because you take
      pride in your creation.
    </div>
  </div>

{%endblock%}
